[Desktop Entry]
Name=Breeze Dark Green
Name[ar]=نسيم داكن Green
Name[ast]=Breeze Dark Green
Name[ca]=Brisa fosca Green
Name[ca@valencia]=Brisa fosca Green
Name[cs]=Breeze Tmavé Green
Name[da]=Breeze Dark Green
Name[de]=Breeze-Dunkel Green
Name[en_GB]=Breeze Dark Green
Name[es]=Brisa oscuro Green
Name[et]=Breeze Dark Green
Name[eu]=Breeze iluna Green
Name[fi]=Breeze Dark Green
Name[fr]=Breeze foncé Green
Name[gd]=Dorch-oiteag Green
Name[gl]=Breeze escuro Green
Name[hu]=Breeze Dark Green
Name[ia]=Brisa obscure Green
Name[id]=Breeze Dark Green
Name[it]=Brezza scuro Green
Name[ko]=어두운 Breeze Green
Name[lt]=Breeze tamsi Green
Name[nb]=Mørk bris Green
Name[nds]=Breeze düüster Green
Name[nl]=Breeze Dark Green
Name[nn]=Breeze mørk Green
Name[pl]=Ciemna bryza Green
Name[pt]=Brisa Escura Green
Name[pt_BR]=Breeze Dark Green
Name[ru]=Breeze, тёмный вариант Green
Name[sk]=Tmavý vánok Green
Name[sl]=Sapica (temna) Green
Name[sr]=Поветарац тамни Green
Name[sr@ijekavian]=Поветарац тамни Green
Name[sr@ijekavianlatin]=Povetarac tamni Green
Name[sr@latin]=Povetarac tamni Green
Name[sv]=Breeze mörk Green
Name[tr]=Esintili Koyu Green
Name[uk]=Темна Breeze Green
Name[x-test]=xxBreeze Darkxx Green
Name[zh_CN]=暗色微风 Green
Name[zh_TW]=Breeze Dark Green


X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=breeze-dark-green
X-KDE-PluginInfo-Version=5.51
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
